#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-size: 16px;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10%;
  background: #092c0b;
  background: linear-gradient(301deg, #092c0b 0%, #150500 92%);
}

.App #heroine {
  position: absolute;
  top: 0;
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.App .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 328px;
}

.App .main .streamerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 46%;
  padding-top: 13px;
}

.App .main .streamerLinks .listenNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #E8F1F2;
  z-index: 500;
  font-size: 16px;
}

.App .main .streamerLinks .streamerLinks__icon {
  margin-top: 30px;
  width: 36px;
}

.App .main .bodyCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 8%;
}

.App .main .bodyCopy .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Arimo', sans-serif;
  color: #E8F1F2;
  font-size: 18px;
  width: 41%;
  line-height: 241%;
  z-index: 300;
}

.App .main .bodyCopy .bio p {
  padding-top: 20px;
}

.App .main .bodyCopy .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #E8F1F2;
  z-index: 500;
  padding-top: 60px;
  font-size: 16px;
}

.App .main .bodyCopy .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 430px;
}

.App .main .bodyCopy .socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  padding-right: 25px;
}
/*# sourceMappingURL=App.css.map */